body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  min-height: 100%
}
.App {
  height: 100%;
}
.card {
  border-radius: 20px;
  border: 1px solid #bacdd8;
  margin: 20px;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: transform .5s, box-shadow 1s;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  flex-basis: 33.333333%
}
.card figure {
  width: 100%;
  flex: 50%;
  margin: 0%; 
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
  background-size: contain;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card summary {
  padding: 8px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  height: 100%
}
.delete-button {
  background-color: red;
  margin: 5px;
}
.footer {
  grid-area: footer;
  background-color: darkgray;
  padding: 5px;
}
.footer p{
  text-align: center;
  font-size: 10px;
}
.header {
  background-color: darkblue;
  color: white;
  padding-left: 20px;
  padding: 5px;
}
.side {
  background-color: lightblue;
  width: 320px;
  padding: 32px;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .side {
    display: none;
  }
  .content {
    padding: 32px;
  }
}